$color1: #0E8784;
$color2: #333D4B;
$color3: #FDD6BA;
$color4: #FEFCF7;
$color5: #83888F;
$color6: #fefcf700;
$color7: #2C343E;
$color8: #d3d3d3;
$color9: #A2A2A2;
$color10: #ACAFB2;
$color11: #CCCDCD;
$color12: #DFDFDD;
$color13: #FFFFFF;
$color14: #E2DEDB;
$color15: #66D2CF;
$color16: #00000099;
$color17: #00000066;